body {
  color: #000000e1;
}
.about-jumbotroon {
  background-image: url("../images/cornered-stairs.svg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  padding-inline: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-jumbotroon .home h1 {
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.about-jumbotroon p {
  text-align: center;
}
.about-jumbotroon .home .text {
  display: flex;
  gap: 1rem;
  width: 90%;
  margin: auto;
  justify-content: center;
}
.about-jumbotroon .home a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.about-jumbotroon .home a:hover {
  color: whitesmoke;
  font-weight: 600;
}
/* aboout tentang */
.about-tentang,
.about-mengapa {
  padding: 5rem;
}
.about-tentang {
  background-color: white;

  padding-inline: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  box-sizing: border-box;
}
.about-tentang h2,
.about-mengapa h2 {
  color: #1d6e42;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about-tentang .gambar img {
  width: 400px;
  border-radius: 10px;
  /* border: 4px solid #1d6e42;  */
}
.about-tentang p {
  line-height: 30px;
  color: #000000e7;
}
/* mengapa khastech */
.about-mengapa {
  padding-inline: 5rem;
  background-image: url("../images/sun-tornado.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.about-mengapa h2 {
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px #0000001c;
}
.about-mengapa .visi,
.about-mengapa .misi {
  background-color: white;
  padding: 1rem;
  height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s;
}
.about-mengapa .visi:hover,
.about-mengapa .misi:hover {
  transform: scale(1.05);
}

.about-mengapa .visi h3,
.about-mengapa .misi h3 {
  color: #1d6e42;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.about-mengapa .visi p,
.about-mengapa .misi p {
  line-height: 30px;
  text-align: center;
}
/* about ahli */
.about-ahli {
  padding: 5rem;
  box-sizing: border-box;
}
.about-ahli h2 {
  color: #1d6e42;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  text-transform: capitalize;
}
.about-ahli .text {
  line-height: 30px;
  margin-top: 5rem;
  color: #1d6e42;
}
.about-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.about-card .a-card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px #00000017;
  transition: 0.3s;
  border: 1px solid #1d6e42;
}
.about-card .a-card:hover {
  transform: scale(1.03);
  box-shadow: none;
}
.about-card .a-card img {
  width: 70px;
  margin: auto;
  display: block;
  padding-bottom: 1rem;
}
.about-card .a-card h3 {
  padding-bottom: 1rem;
}
.about-card .a-card p {
  line-height: 30px;
  font-size: 0.89rem;
  /* color: #1d6e42; */
}
