/* style by salman asmandi */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}
body {
  position: relative;
  background-color: white;
  color: #000000e1;
  width: 100%;
}
header {
  position: fixed;
  box-shadow: 0px 6px 24px 0px #00000028;
  top: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1d6e42;
  height: 80px;
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
#navbar.hidden {
  transform: translateY(-100%);
}

header .logo {
  padding-left: 5rem;
}
header .get-start {
  padding-right: 5rem;
  list-style-type: none;
}
header .logo img {
  width: 180px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
header a {
  text-decoration: none;
  color: #1d6e42;
  font-size: 1.03rem;
  font-weight: 600;
}
header a:hover {
  color: #28a745;
}
/* From Uiverse.io by abrahamcalsin */
.get-start {
  list-style: none;
}
.get-start a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: linear-gradient(135deg, #1d6e42, #28a745);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.062);
  overflow: hidden;
}

.get-start a::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: linear-gradient(135deg, #28a745, #32ca77);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.get-start a:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.get-start a span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 14px 24px;
  color: #fff;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.get-start a:hover span {
  color: white;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
/* main */

main .jumbotroon {
  background-image: url("../images/jumbotroon.jpeg");
  background-size: cover;
  background-position: 0 -300px;
  background-repeat: no-repeat;
  height: 100vh;
  padding-bottom: 12rem;
}
main .jumbotroon .kata {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 5rem;
  padding-top: 12rem;
  color: white;
  box-sizing: border-box;
  font-weight: bold;
}
main .jumbotroon .kata p {
  text-transform: uppercase;
  font-size: 1.1rem;
  text-shadow: 1px 1px #0000001e;
}
main .jumbotroon .kata h1 {
  text-shadow: 1px 1px #0000001e;
  font-size: 3rem;
  line-height: 3.8rem;
}
main .jumbotroon .kata h4 {
  text-shadow: 1px 1px #0000001e;
  font-size: 1.4rem;
  line-height: 2rem;
}

.read-more {
  width: 15rem;
  box-shadow: 0 2px 3px 1px #00000033;
  border: 1px solid white;
  border-radius: 7px;
  font-size: 1.2rem;
}
.read-more a {
  text-decoration: none;
}

.con-card-alasan {
  background-image: url("../images/sun-tornado.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7rem;
  /* background-attachment: fixed; */
}
/* card */
.c-card {
  padding-inline: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 2rem;
  justify-content: center;
  padding-bottom: 5rem;
  /* margin-bottom: 8rem; */
}
.c-card .card {
  /* height: 20rem; */
  position: relative;
  top: -5rem;
  z-index: 100;
  background-color: transparent;
  backdrop-filter: blur(41px);
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 22rem;
  border: 2px solid #1d6e42;
  transition: 0.5s;
}
.c-card .card:hover {
  border: 2px solid white;
}
.c-card .card .isi img {
  width: 3.5rem;
  margin-inline: auto;
  display: block;
  margin-bottom: 12px;
}
.c-card .card .isi {
  box-shadow: 0 2px 3px 1px #00000033;

  background-color: white;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  height: 25rem;
  position: relative;
}
.c-card .card .isi h3 {
  margin-block: 12px;
}
.c-card .card .isi p {
  font-size: 0.8rem;
  line-height: 25px;
}
.c-card .card .isi a {
  color: #1d6e42;
  text-align: center;
  font-size: 0.89rem;
  text-decoration: none;
  display: block;
  position: absolute;
  bottom: 22px;
  left: 12px;
  right: 12px;
}
.c-card .card .isi a:hover {
  color: #28a745;
}
/* portofolio */

.portofolio {
  text-align: center;
  background-color: white;
  padding: 5rem;
}

.teks h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #1d6e42;
  font-size: 1rem;
  text-transform: uppercase;
}

.portofolio .teks p {
  font-size: 3rem;
  color: #000000e1;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-slider-wrapper {
  position: relative;
}

.card-slider {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth;
  padding: 20px 0;
}
.card-slider {
  display: flex;
  overflow-x: scroll; /* Pastikan elemen bisa di-scroll */
  gap: 15px;
  scroll-behavior: smooth;
  padding: 20px 0;
}

.card-slider::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar */
}

.card-isi-slide {
  position: relative;
  width: 100%;
  min-width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-isi-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card-isi-slide:hover img {
  transform: scale(1.1);
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d6e42;
  color: #fff;
  font-size: 0.89rem;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.card-isi-slide:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}

.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background-color: #1d6e42;
  height: 13px;
  width: 13px;
}

/* siapa kami */

.siapa-kami {
  padding: 5rem;
}
.siapa-kami h2 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #1d6e42;
  margin-bottom: 12px;
}
.siapa-kami .kontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.siapa-kami .kontent .teks h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.siapa-kami .kontent .teks p {
  line-height: 30px;
  color: #1d6e42;
}
.siapa-kami .kontent .gambar img {
  width: 500px;
  padding: 12px;
  box-sizing: border-box;
  /* border: 3px solid #1d6e42; */
  border-radius: 10px;
}
/* alasan kami */
.alasan {
  padding: 5rem;
}
.alasan .kontent .teks h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 12px;
}
.alasan .kontent .teks h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 12px;
}
.alasan .kontent .teks p {
  text-align: center;
  background-color: white;
  padding: 12px;
  line-height: 25px;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0 2px 3px 1px #00000033;
}

.card-alasan {
  z-index: 90;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.card-alasan .card {
  background-color: white;
  backdrop-filter: blur(24px);
  height: 17rem;
  padding: 16px;
  box-sizing: border-box;
  /* box-shadow: 0 2px 3px 1px #00000033; */
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  /* border: 1px solid #1d6e42; */
}
.card-alasan .card:hover {
  border: none;
  transform: scale(1.03);
}
.card-alasan .card h2 {
  text-align: center;
  color: #1d6e42;
  font-size: 1.3rem;
}
.card-alasan .card p {
  margin-top: 1rem;
  font-size: 0.89rem;
  line-height: 25px;
}

/* KONSULTASI */
.konsultasi {
  background-color: white;
  padding-inline: 5rem;
  padding-block: 5rem;
}
.konsultasi h2 {
  color: #1d6e42;

  margin-bottom: 12px;
}
.konsultasi a {
  width: 150px;
  text-decoration: none;
  padding-inline: 22px;
  margin-top: 1rem;
}
.footer {
  background-color: #292929;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
  padding-inline: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
}
.footer img {
  width: 200px;
}
.footer .logo p {
  line-height: 30px;
  padding-top: 12px;
}
.copyright {
  margin-top: 2rem;
}
.footer .logo i {
  color: white;
  font-size: 1.3rem;
  margin-right: 12px;
  margin-top: 12px;
}
.link-footer h4 {
  color: #1d6e42;
  font-size: 2rem;
  padding-bottom: 12px;
}
.link-footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}
.link-footer ul li a {
  color: white;
  /* font-weight: 600; */
  text-decoration: none;
}

#hamburger {
  font-size: 2rem;
  display: none;
}
