body {
  color: #000000e1;
}
.service-jumbotroon {
  background-image: url("../images/cornered-stairs.svg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  padding-inline: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-jumbotroon .con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.service-jumbotroon .con h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
}
.service-jumbotroon .con .link {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.service-jumbotroon .con .link a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.service-jumbotroon .con .link a:hover {
  font-weight: 600;
}

.service-our {
  padding: 5rem;
  background-color: white;
}
.service-our h2 {
  color: #1d6e42;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.service-our p {
  line-height: 30px;
}
.service-con,
.service-con1 {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-bottom: 5rem;
  gap: 3rem;
  align-items: center;
}
.service-con .text h2 {
  color: #1d6e42;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.service-con .text p {
  line-height: 30px;
  font-size: 1rem;
  text-align: justify;
}
.service-con img {
  border-radius: 10px;
}
