body {
  color: #000000e7;
}
.service-jumbotroon {
  padding-inline: 5rem;
  background-image: url("../images/sun-tornado.svg");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-jumbotroon .con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.service-jumbotroon .con h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 1px solid white;
}
.service-jumbotroon .con .link {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.service-jumbotroon .con .link a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.service-jumbotroon .con .link a:hover {
  font-weight: 600;
}

.service-our {
  padding: 5rem;
  background-color: white;
}
.service-our h2 {
  color: #1d6e42;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.service-our p {
  line-height: 30px;
}
